.hero{
    width: 100%;
    min-height:100vh;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)  
      ),
      url('../assets/images/3d-gym-equipment.png');
    background-repeat: no-repeat;
    background-size: cover;
   padding-top: 2cm;
}
.hero2{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero3 {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  background-color: #f4f4f4; 
  align-items: center;
  justify-content: center;
  margin-left: 2.5cm;
  margin-right: 2.5cm;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card {
  min-width: 400px; 
  min-height: 200px;
  margin-right: 10px; 
}

.scroll-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.scroll-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}